serverInfo:
  name: "Aces BTC-ARK Channel Service"
  description: "ACES BTC to ARK Channel service for transferring BTC to ARK"
  instructions: >
    After this contract is executed, any BTC sent to depositBtcAddress will be exchanged for ARK and 
    sent directly to the given recipientArkAddress less service fees.
  version: "1.0.0"
  websiteUrl: "https://arkaces.com"
  flatFee: "0"
  percentFee: "1.00%"
  inputSchema: >
    {
      "type": "object",
      "properties": {
        "recipientArkAddress": {
          "type": "string"
        }
      },
      "required": [
        "recipientArkAddress"
      ]
    }
  outputSchema: >
    {
      "type": "object",
      "properties": {
        "depositBtcAddress": {
          "type": "string"
        },
        "recipientArkAddress": {
          "type": "string"
        },
        "transfers": {
          "type": "array",
          "properties": {
            "btcAmount": {
              "type": "string"
            },
            "btcToArkRate": {
              "type": "string"
            },
            "btcFlatFee": {
              "type": "string"
            },
            "btcPercentFee": {
              "type": "string"
            },
            "btcTotalFee": {
              "type": "string"
            },
            "arkSendAmount": {
              "type": "string"
            },
            "arkTransactionId": {
              "type": "string"
            },
            "createdAt": {
              "type": "string"
            }
          }
        }
      }
    }

#spring:
#  datasource:
#    url: "jdbc:h2:/tmp/btc_ark_channel_service.db;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE"
#    driver-class-name: "org.h2.Driver"
#  jpa:
#    hibernate:
#      ddl-auto: "create-drop"


#spring:
#  datasource:
#    platform: postgres
#    url: jdbc:postgresql://localhost:5432/aces_btc_ark_channel_db
#    username: service_user
#    password: password
#  jpa:
#    hibernate:
#      ddl-auto: validate
#
#flyway:
#  enabled: true

arkNetworkConfigPath: "ark_network_config/testnet.yml"

serviceArkAccount:
  address: AewU1vEmPrtQNjdVo33cX84bfovY3jNAkV
  passphrase: change-me

fees:
  btcFlatFee: 0
  btcPercentFee: 1

server:
  port: 9190
  
bitcoinListener:
  url: https://btc-listener-mainnet.arkaces.com/
  apiKey: change-me
